h1 {
  color: dodgerblue;
  width: 60%;
  margin: 5% auto;
}

body {
  background: #d8ecd8;
}

p { color: red !important;
}
p { color: black}

nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 26px;
  right: 80px;
  border: 5px double black;
  padding: 15px;


}



main {
  background: green;
  width: 60%;
  margin: 5% auto;
}

article {
  border: 3px solid black;
  margin: 1% auto;
  width: 60%;
  background: white;
}

article > h3 {
  font-size: 1em;
}

article:hover {
  background: gray;

}

article:hover > h3{
  background: dodgerblue;

  

}

footer {
  width: 60%;
  margin: 5% auto;


}



/* Extra Small and up (Portrait Phones) */

/* Small and up (Landscape Phones) */
@media (min-width: 576px) {

}

/* Medium and up (Tablets) */
@media (min-width: 768px) {

}

/* Large and up (Desktops) */
@media (min-width: 992px) {

}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}



