body {
    background-image: url(http://sfwallpaper.com/images/background-image-for-website-11.jpg);


}

.header {
<<<<<<< Updated upstream
    

  
}
.floatleft {
  float: left;
  width: 50%;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.floatright {
    float: right;
    width: 50%;

  

}

.box-2 img{
    height: 400%;


}
    

    
    


.container {
    text-align: center;
    font-size: 20px;
    border: 3px solid blueviolet;
    background-color: gray;
    grid-gap: 20px;
=======
>>>>>>> Stashed changes
    display: grid;
    grid-area: "header";
    grid-column: 1/-1;
    border: 3px solid blueviolet;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-style: bold;
    padding-top: 70px 0; 
    float: right;
    height: 1200px;
    margin: 60px;
    background-color: lightgray;
    color: white;
    display: flex;
    width: 700px;
    background-color: grey;
    word-wrap: break-word;
<<<<<<< Updated upstream
  
}
h1 {
    
    
}
.banner { 
    border: 2px solid black;
    background-color: purple;
    color: yellow;
    text-align: center;
    font-size: 30px;

}

.box-1 {
    display: grid;
    grid-area: "box 1";
    grid-column: 1/4;
    grid-row: 2/4;
    border: 3px solid blueviolet;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    

=======

  
}

img { 
    float: right;
    vertical-align: text-top;
    
    
}

.container {
    text-align: center;
    font-size: 30px;
    border: 3px solid blueviolet;
    background-color: gray;
    grid-gap: 20px;
    color: yellow;
}
.h1 {
    border: 2px solid black;
    background-color: purple;
>>>>>>> Stashed changes
}

.box-2 {
    display: grid;
    grid-area: "box 2";
    grid-column: 1/4;
    grid-row: 2/4;
    border: 3px solid blueviolet;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;



}

<<<<<<< Updated upstream
#box-3 {
=======
.box-3 {
>>>>>>> Stashed changes
    display: grid;
    grid-area: "box 3";
    grid-column: 1/2;
    grid-row: 4/5;
    border: 3px solid blueviolet;
    height: 800px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
<<<<<<< Updated upstream
    .alignleft {
        float: left;
    }
    .alignright {
        float: right;
    }
}




/* Extra Small and up (Portrait Phones) */

/* Small and up (Landscape Phones) */
@media (max-width: 576px) {

}

/* Medium and up (Tablets) */
@media (max-width: 768px) {

}

/* Large and up (Desktops) */
@media (max-width: 992px) {

}

/* Extra Large and up (Wide Screen Desktops) */
@media (max-width: 1200px) {

=======
>>>>>>> Stashed changes
}


/*.box-4 {
    display: grid;
    grid-area: "box 4";
    grid column: 2/3;
    grid-row: 1/-1;
    border: 3px solid purple;
    height: 200px;
    width: 900px;*/



}

/*.footer {
    display: grid;
    grid-area: "footer"
    grid-column: 1/-1;
    grid-row: 5/6;
    border: 2px solid orange;
    height: 300px;*/



}