body {


    width: 850px;
    margin: 0 auto;
    
    
}


main {

    margin: 0 auto;
    text-align: center;

    

}
section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

article {

    width: 280px;
    height: 374px;
    background-color: rgb(224,222,222)
    

}

/* Extra Small and up (Portrait Phones) */

/* Small and up (Landscape Phones) */
@media (max-width: 576px) {

}

/* Medium and up (Tablets) */
@media (max-width: 768px) {

}

/* Large and up (Desktops) */
@media (max-width: 992px) {

}

/* Extra Large and up (Wide Screen Desktops) */
@media (max-width: 1200px) {

}