body {
    
}

.container {
    vertical-align: middle;
    margin-left: 800px;
    margin-top: 100px;
}

.square1 {
    height: 50px;
    width: 50px;
    background-color: aqua;
    margin-bottom: 10px;
    transition: transform 1s;
}

.square1:hover {
        transform: scale(2) rotate(180deg) translateX(-200px);
}

 .square2 {
    height: 50px;
    width: 50px;
    background-color: orangered;
    margin-bottom: 10px;
    transition: transform 1s;
  }

 .square2:hover {
    transform: scale(.5);
}

  .square3 {
    height: 50px;
    width: 50px;
    background-color: navy;
    margin-bottom: 10px;
   transition: transform 1s;
  }
  .square3:hover {
    transform: scale(2);
}

  .square4 {
    height: 50px;
    width: 50px;
    background-color: chartreuse;
    margin-bottom: 10px;
    transition: transform 1s;
  }

  .square4:hover {
    transform: scale(.5);
}

  .square5 {
    height: 50px;
    width: 50px;
    background-color: darkgoldenrod;
    margin-bottom: 10px;
    transition: transform 1s;
  }
  .square5:hover {
    transform: scale(2);
}

  .square6 {
    height: 50px;
    width: 50px;
    background-color: darkorchid;
    margin-bottom: 10px;
    transition: transform 1s;
  }

  .square6:hover {
    transform: scale(.5);
}

  .square7 {
    height: 50px;
    width: 50px;
    background-color: #555;
    margin-bottom: 10px;
    transition: transform 1s;
  }
  .square7:hover {
    transform: scale(2);
}

  .square8 {
    height: 50px;
    width: 50px;
    background-color:darkred;
    margin-bottom: 10px;
    transition: transform 1s;
  }

  .square8:hover {
    transform: scale(.5);
}

  .square9 {
    height: 50px;
    width: 50px;
    background-color: purple;
    margin-bottom: 10px;
    transition: transform 1s;
  }
  .square9:hover {
    transform: scale(2);
}

  .square10 {
    height: 50px;
    width: 50px;
    background-color: salmon;
    margin-bottom: 10px;
    transition: transform 1s;
  }

  .square10:hover {
    transform: scale(.5);
}

  .square11 {
    height: 50px;
    width: 50px;
    background-color: yellow;
    margin-bottom: 10px;
    transition: transform 1s;
  }
  .square11:hover {
    transform: scale(2);
}

  .square12 {
    height: 50px;
    width: 50px;
    background-color:black;
    transition: transform 1s;
  }

  .square12:hover {
    transform: scale(.5);
}